.reg{
	font-family: arial, sans-serif;
	font-style: italic;
}
	

.reco{
	width: 100%;
	height: 30%;
}

.button{
	background-color: lightcoral;
	color: lightslategray;
	text-align: center;
	font-family: times new roman, serif;
	font-style: italic;
	width: 100%;
	height: 30%;
}